/*-----------------------------------------------------
theme:			bscene
file:			styles/bscene-style.less
version:		3.0
-----------------------------------------------------*/
/* =reset
-----------------------------------------------------*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
/* =layout
-----------------------------------------------------*/
body {
  background-image: url('../images/staticBKG.png');
  background-color: #f4f4f4;
}
.container {
  width: 980px;
  margin: 0px auto;
  position: relative;
}
#header {
  background-image: url('../images/headerBKG.png');
  height: 160px;
  position: relative;
  z-index: 10;
}
#header .branding {
  position: relative;
  top: 20px;
  height: 85px;
  width: 310px;
  background-image: url('../images/branding.png');
  background-repeat: no-repeat;
}
#header .branding a {
  height: 95px;
  width: 350px;
  display: block;
}
#header .branding a span {
  display: none;
}
#header .social {
  position: absolute;
  top: 75px;
  width: 250px;
  right: 320px;
}
#header .social ul li {
  float: right;
  background-image: url('../images/socialIcons.png');
  background-repeat: no-repeat;
  height: 28px;
  width: 24px;
  margin: 0 6px;
}
#header .social ul li a {
  display: block;
  height: 28px;
}
#header .social ul li a span {
  display: none;
}
#header .social ul li.facebook {
  background-position: 0 0;
  width: 24px;
}
#header .social ul li.facebook a:hover {
  background-image: url('../images/socialIcons.png');
  background-position: 0 -29px;
}
#header .social ul li.twitter {
  background-position: -25px 0;
  width: 34px;
}
#header .social ul li.twitter a:hover {
  background-image: url('../images/socialIcons.png');
  background-position: -25px -29px;
}
#header .social ul li.google {
  background-position: -63px 0;
  width: 32px;
}
#header .social ul li.google a:hover {
  background-image: url('../images/socialIcons.png');
  background-position: -63px -29px;
}
#header .social ul li.rss {
  background-position: -98px 0;
  width: 26px;
}
#header .social ul li.rss a:hover {
  background-image: url('../images/socialIcons.png');
  background-position: -98px -29px;
}
#header .social ul li.mobile {
  background-position: -130px 0;
  width: 40px;
}
#header .social ul li.mobile a:hover {
  background-image: url('../images/socialIcons.png');
  background-position: -130px -29px;
}
#header #primary-nav {
  position: absolute;
  top: 115px;
  line-height: 41px;
  height: 41px;
  width: 655px;
  margin: 0 4px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -1px;
  text-transform: uppercase;
}
#header #primary-nav h2 {
  display: none;
}
#header #primary-nav .block-content li {
  float: left;
}
#header #primary-nav .block-content li.sfHover a {
  background: #525252;
  color: #f1f1f1;
  /*text-shadow: 1px 1px 0px #000000;*/

}
#header #primary-nav .block-content li.sfHover a span {
  display: none;
}
#header #primary-nav .block-content li a {
  color: #323232;
  text-decoration: none;
  padding: 9px 12px;
  margin: 0 4px;
  /*text-shadow: 1px 1px 0px #000000;*/

}
#header #primary-nav .block-content li a:hover {
  background: #525252;
  color: #f1f1f1;
  /*text-shadow: 1px 1px 0px #000000;*/

}
#header #primary-nav .block-content li a:hover span {
  display: none;
}
#header #primary-nav .block-content li a span.sf-sub-indicator {
  background-position: 0 0;
  height: 10px;
  width: 11px;
  right: 1px;
  top: 15px !important;
}
#header #primary-nav .block-content li ul {
  background-color: #525252;
  position: absolute;
  top: 30px;
  left: 4px;
  width: 630px;
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 8px 0;
}
#header #primary-nav .block-content li ul li.sfHover a {
  background-color: #dddddd;
  color: #333333;
  border-left: 3px solid #bf0018;
}
#header #primary-nav .block-content li ul li a {
  color: #f1f1f1;
  margin: 0px 0px;
  padding: 8px 12px;
  font-weight: 400;
  display: block;
  border-left: 3px solid #525252;
}
#header #primary-nav .block-content li ul li a:hover {
  background-color: #dddddd;
  color: #333333;
  border-left: 3px solid #bf0018;
}
#header #primary-nav .block-content li ul li ul {
  top: 0;
}
#header #primary-nav .block-content li ul li ul li.sf-depth-3 a {
  background-color: #525252;
  color: #f1f1f1;
  margin: 0px;
  padding: 8px 12px;
  font-weight: 400;
  display: block;
  border-left: 3px solid #525252;
}
#header #primary-nav .block-content li ul li ul li.sf-depth-3 a:hover {
  background-color: #dddddd;
  color: #333333;
  border-left: 3px solid #bf0018;
}
#section {
  position: relative;
}
#section .container {
  background-image: url('../images/contentBKG.png');
  background-repeat: repeat-y;
  background-position: 0 top;
}
#section #content-container {
  position: relative;
  width: 633px;
  top: -10px;
  margin-bottom: -10px;
  z-index: 0;
  padding: 15px 14px 0 13px;
  background-image: url('../images/contentBKG.png');
  float: left;
}
#section #content-container #pre-content {
  margin-bottom: 10px;
}
#section #content-container #copy {
  float: right;
  margin-bottom: 10px;
  width: 632px;
}
#section #content-container #mini-sidebar {
  width: 120px;
  height: 200px;
  float: left;
  margin-bottom: 10px;
}
#section #content-container #post-content {
  clear: both;
}
#section #sidebar {
  position: relative;
  width: 320px;
  float: right;
  top: -125px;
  margin-bottom: -125px;
}
#section #sidebar .block {
  margin-bottom: 15px;
}
#section #sidebar .xtension {
  border: 1px solid #e6e6e6;
  border-bottom-right-radius: 10px;
  padding: 15px 15px 15px 10px;
  border-top-right-radius: 10px;
  border-left: none;
  overflow: hidden;
  background: #f8f8f8;
}
#section #sidebar .xtension .block-content {
  margin-bottom: 0;
}
#section #sidebar .xtension .event-picture {
  display: none;
}
#section #sidebar .xtension .date {
  margin-right: 5px;
}
#section #sidebar .xtension .info {
  float: right;
  width: 220px;
  margin-right: 8px;
}
#section #sidebar .xtension .info .location {
  font-size: 10px;
  margin-top: 0;
}
#section #sidebar .xtension .info .location em {
  display: none;
}
#section #sidebar .view-id-covers {
  z-index: 15;
  position: relative;
  padding: 0 41px;
}
#section #sidebar .view-id-covers img {
  border: 2px solid #bab9b8;
}
#section #sidebar .med-rectangle {
  margin: 0 10px 15px;
}
.front #section #content-container #mini-sidebar {
  float: right;
}
.front #section #content-container #copy {
  float: left;
}
.front #section #content-container h1 {
  display: none;
}
.has-mini-sidebar.front #section #content-container #copy {
  width: 443px;
}
.has-mini-sidebar.front #section #content-container #mini-sidebar {
  width: 170px;
}
.node-type-article #copy,
.node-type-event #copy,
.node-type-style-gallery #copy,
.node-type-page #copy,
.node-type-webform #copy,
.node-type-job #copy {
  position: relative;
}
.node-type-article #copy h1,
.node-type-event #copy h1,
.node-type-style-gallery #copy h1,
.node-type-page #copy h1,
.node-type-webform #copy h1,
.node-type-job #copy h1 {
  position: absolute;
  z-index: 30;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  top: 0;
  color: white;
  line-height: 30px;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  width: 603px;
}
.node-type-article #copy h1.no-media,
.node-type-event #copy h1.no-media,
.node-type-style-gallery #copy h1.no-media,
.node-type-page #copy h1.no-media,
.node-type-webform #copy h1.no-media,
.node-type-job #copy h1.no-media {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}
.node-type-article #copy h1 span,
.node-type-event #copy h1 span,
.node-type-style-gallery #copy h1 span,
.node-type-page #copy h1 span,
.node-type-webform #copy h1 span,
.node-type-job #copy h1 span {
  font-size: 16px;
  color: #aaaaaa;
  display: block;
  font-weight: 400;
  line-height: 20px;
}
.node-type-article #copy h1 span div,
.node-type-event #copy h1 span div,
.node-type-style-gallery #copy h1 span div,
.node-type-page #copy h1 span div,
.node-type-webform #copy h1 span div,
.node-type-job #copy h1 span div {
  display: inline;
}
.node-type-article #copy #main-content,
.node-type-event #copy #main-content,
.node-type-style-gallery #copy #main-content,
.node-type-page #copy #main-content,
.node-type-webform #copy #main-content,
.node-type-job #copy #main-content {
  position: relative;
  top: 0;
}
.node-type-article .style-galleries .field-item,
.node-type-event .style-galleries .field-item,
.node-type-style-gallery .style-galleries .field-item,
.node-type-page .style-galleries .field-item,
.node-type-webform .style-galleries .field-item,
.node-type-job .style-galleries .field-item {
  float: left;
  margin: 5px 10px;
}
.node-type-article .style-galleries .field-item img,
.node-type-event .style-galleries .field-item img,
.node-type-style-gallery .style-galleries .field-item img,
.node-type-page .style-galleries .field-item img,
.node-type-webform .style-galleries .field-item img,
.node-type-job .style-galleries .field-item img {
  border: 5px solid #eeeeee;
}
.node-type-article .social-sharing,
.node-type-event .social-sharing,
.node-type-style-gallery .social-sharing,
.node-type-page .social-sharing,
.node-type-webform .social-sharing,
.node-type-job .social-sharing {
  clear: both;
  border-top: 1px dotted #d1d1d1;
  border-bottom: 1px dotted #d1d1d1;
  padding: 6px 10px;
  margin: 10px 0;
  height: 22px;
}
.node-type-article .social-sharing div,
.node-type-event .social-sharing div,
.node-type-style-gallery .social-sharing div,
.node-type-page .social-sharing div,
.node-type-webform .social-sharing div,
.node-type-job .social-sharing div {
  float: left;
  width: 120px;
}
.node-type-article .node-content,
.node-type-event .node-content,
.node-type-style-gallery .node-content,
.node-type-page .node-content,
.node-type-webform .node-content,
.node-type-job .node-content {
  margin: 15px 0;
  overflow: hidden;
}
.node-type-article .node-content .field-name-body,
.node-type-event .node-content .field-name-body,
.node-type-style-gallery .node-content .field-name-body,
.node-type-page .node-content .field-name-body,
.node-type-webform .node-content .field-name-body,
.node-type-job .node-content .field-name-body {
  float: right;
  width: 495px;
}
.node-type-article .node-content #mini-sidebar,
.node-type-event .node-content #mini-sidebar,
.node-type-style-gallery .node-content #mini-sidebar,
.node-type-page .node-content #mini-sidebar,
.node-type-webform .node-content #mini-sidebar,
.node-type-job .node-content #mini-sidebar {
  float: left;
  width: 120px;
}
.node-type-article .node-content #mini-sidebar .byline,
.node-type-event .node-content #mini-sidebar .byline,
.node-type-style-gallery .node-content #mini-sidebar .byline,
.node-type-page .node-content #mini-sidebar .byline,
.node-type-webform .node-content #mini-sidebar .byline,
.node-type-job .node-content #mini-sidebar .byline {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #d1d1d1;
}
.node-type-article .node-content #mini-sidebar .byline .month,
.node-type-event .node-content #mini-sidebar .byline .month,
.node-type-style-gallery .node-content #mini-sidebar .byline .month,
.node-type-page .node-content #mini-sidebar .byline .month,
.node-type-webform .node-content #mini-sidebar .byline .month,
.node-type-job .node-content #mini-sidebar .byline .month {
  height: 20px;
  margin-top: 10px;
  color: #bf0018;
}
.node-type-article .node-content #mini-sidebar .byline .month div,
.node-type-event .node-content #mini-sidebar .byline .month div,
.node-type-style-gallery .node-content #mini-sidebar .byline .month div,
.node-type-page .node-content #mini-sidebar .byline .month div,
.node-type-webform .node-content #mini-sidebar .byline .month div,
.node-type-job .node-content #mini-sidebar .byline .month div {
  float: left;
  margin-right: 2px;
}
.node-type-article .node-content #mini-sidebar .byline .author,
.node-type-event .node-content #mini-sidebar .byline .author,
.node-type-style-gallery .node-content #mini-sidebar .byline .author,
.node-type-page .node-content #mini-sidebar .byline .author,
.node-type-webform .node-content #mini-sidebar .byline .author,
.node-type-job .node-content #mini-sidebar .byline .author {
  font-size: 16px;
  border-bottom: 1px dotted #dddddd;
}
.node-type-article .node-content #mini-sidebar .byline .author span,
.node-type-event .node-content #mini-sidebar .byline .author span,
.node-type-style-gallery .node-content #mini-sidebar .byline .author span,
.node-type-page .node-content #mini-sidebar .byline .author span,
.node-type-webform .node-content #mini-sidebar .byline .author span,
.node-type-job .node-content #mini-sidebar .byline .author span {
  display: block;
  font-size: 14px;
  font-style: italic;
  font-family: Georgia;
  color: #999999;
  margin-bottom: 14px;
}
.node-type-article .commenting,
.node-type-event .commenting,
.node-type-style-gallery .commenting,
.node-type-page .commenting,
.node-type-webform .commenting,
.node-type-job .commenting {
  clear: both;
}
.node-type-page .node-content .field-name-body,
.node-type-webform .node-content .field-name-body,
.node-type-job .node-content .field-name-body {
  width: 100%;
}
#footer {
  clear: both;
  background-image: url('../images/headerBKG.png');
  background-position: 0 -7px;
  padding: 15px;
  color: #f1f1f1;
  height: 74px;
}
#footer .container {
  background-image: url('../images/footer-logo.png');
  background-repeat: no-repeat;
  background-position: 5px 42px;
  overflow: hidden;
}
#footer .container ul.menu {
  overflow: hidden;
  border-bottom: 1px solid #333333;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#footer .container ul.menu li {
  float: left;
  margin-right: 20px;
  margin-left: 5px;
}
#footer .container ul.menu li a {
  color: #f1f1f1;
}
#footer .container p {
  font-size: 11px;
}
#footer .container p span {
  display: block;
}
#footer .container .copyright {
  float: right;
  text-align: right;
  line-height: 18px;
  margin-top: 1px;
}
#footer .container .address {
  float: left;
  margin-left: 125px;
  line-height: 18px;
  margin-top: 1px;
}
/* =list pages
-----------------------------------------------------*/
.view-id-list .node {
  overflow: hidden;
  border-bottom: 5px solid #E9E8E5;
  padding-bottom: 15px;
  padding-right: 10px;
  margin-bottom: 15px;
  position: relative;
}
.view-id-list .node .media {
  float: left;
  margin-right: 10px;
}
.view-id-list .node .teaser-content {
  float: right;
  width: 272px;
}
.view-id-list .node .teaser-content.no-media {
  width: 100%;
}
.view-id-list .node .taxonomy {
  position: absolute;
  bottom: 15px;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  height: 20px;
  padding: 4px 10px;
  color: white;
  text-transform: uppercase;
}
.view-id-list .node .taxonomy .field {
  float: left;
  margin-right: 8px;
}
.view-id-list .node.style-gallery {
  width: 286px;
  float: left;
  margin: 0 10px 15px;
  border-bottom: none;
}
.view-id-list .node.style-gallery div.title {
  border-bottom: 3px solid rgba(191, 0, 24, 0.8);
  position: absolute;
  bottom: 15px;
  z-index: 19;
  width: 296px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.view-id-list .node.style-gallery div.title a {
  background-color: rgba(191, 0, 24, 0.8);
  color: white;
  padding: 2px 10px;
  margin-top: 0px;
  display: inline-block;
  float: right;
  font-size: 16px;
  font-weight: 200 !important;
}
.view-id-list .node.style-gallery div.title a:hover {
  text-decoration: none;
}
.page-list-video #main-content .view-id-list .views-row {
  float: left;
  width: 296px;
  margin: 0 10px 20px;
  position: relative;
}
.page-list-video #main-content .view-id-list .views-row h3 {
  display: block;
  position: absolute;
  top: 0;
  padding: 10px;
  width: 276px;
  background-color: rgba(0, 0, 0, 0.5);
}
.page-list-video #main-content .view-id-list .views-row h3 a {
  color: #f1f1f1;
  font-weight: 400;
}
.page-list-video #main-content .view-id-list .views-row p.readmore {
  position: absolute;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  height: 45px;
  width: 45px;
  background-image: url('../images/btn_play_med.png');
  background-repeat: no-repeat;
}
.page-list-video #main-content .view-id-list .views-row p.readmore a {
  height: 45px;
  width: 45px;
}
.page-list-video #main-content .view-id-list .views-row p.readmore a span {
  display: none;
}
.view-homepage.view-display-id-page .views-row {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
}
.view-homepage.view-display-id-page .views-row .views-field-field-section {
  border-top: 3px solid rgba(191, 0, 24, 0.8);
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.view-homepage.view-display-id-page .views-row .views-field-field-section .field-content {
  background-color: rgba(191, 0, 24, 0.8);
  display: inline;
  padding: 4px 10px;
  position: absolute;
  color: #f1f1f1;
  font-size: 11px;
  letter-spacing: 1px;
}
.view-homepage.view-display-id-page .views-row .views-field-body a {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.view-homepage.view-display-id-page .views-row .views-field-body a:hover {
  text-decoration: none;
}
.view-homepage.view-display-id-page .views-row .views-field-body span {
  display: inline;
}
.view-homepage.view-display-id-page .views-row .views-field-body span a {
  font-size: 13px;
}
.view-homepage.view-display-id-page .views-row .views-field-body span a:hover {
  text-decoration: underline;
}
/* =pagination
-----------------------------------------------------*/
div.pager {
  clear: both;
  padding-top: 5px;
  margin-top: 15px;
  border-top: 2px solid #bf0018;
  font-size: 11px;
}
div.pager .pager-links {
  float: right;
}
div.pager li {
  margin: 0 2px;
}
div.pager li span {
  border: 1px solid maroon;
  background-color: #BF0018;
  color: white;
  padding: 3px 10px 4px;
  line-height: 22px;
}
div.pager li a {
  background-color: #efefef;
  border: 1px solid #cccccc;
  padding: 2px 10px;
}
div.pager li a:hover {
  text-decoration: none;
  background-color: #dddddd;
}
/* =issues
-----------------------------------------------------*/
.page-issues #content-container .views-row {
  float: left;
  padding: 0 9px 25px;
  position: relative;
}
.page-issues #content-container .views-row img {
  border: 1px solid #dddddd;
}
.page-issues #content-container .views-row .views-field-field-issue-year {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 50px;
  color: white;
  margin: 0 -5px;
  padding: 10px;
  width: 181px;
  text-align: center;
  text-transform: uppercase;
}
/* =taxonomy
-----------------------------------------------------*/
a {
  color: #bf0018;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #333333;
  text-decoration: underline;
}
p {
  font-size: 13px;
  line-height: 20px;
}
h1 {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  margin-bottom: 15px;
  color: white;
  line-height: 30px;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}
h2 {
  /*border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;*/

  background-image: url('../images/h2BKG.png');
  background-repeat: repeat-x;
  background-position: 0 top;
  color: #343434;
  font-size: 15px;
  padding: 7px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
  color: #343434;
  font-size: 18px;
  line-height: 18px;
  padding: 0 0 7px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bf0018;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
}
/* =mini sidebar
-----------------------------------------------------*/
#mini-sidebar .views-field-title a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300 !important;
}
#mini-sidebar .btv-block {
  margin-bottom: 20px;
}
#mini-sidebar .btv-block .views-row {
  position: relative;
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
#mini-sidebar .btv-block .views-row .views-field-field-youtube-link {
  position: absolute;
  background-image: url('../images/btn_play_med.png');
  background-repeat: no-repeat;
  height: 130px;
  width: 170px;
  bottom: 0;
  background-position: 58px 35px;
}
#mini-sidebar .btv-block .views-row .views-field-field-youtube-link a {
  display: block;
  height: 120px;
}
#mini-sidebar .btv-block .views-row .views-field-field-youtube-link a span {
  display: none;
}
#mini-sidebar .stylefiles-block {
  margin-bottom: 20px;
}
#mini-sidebar .stylefiles-block .views-row {
  position: relative;
  padding-bottom: 10px;
}
#mini-sidebar .blogs-block {
  margin-bottom: 20px;
}
#mini-sidebar .contrib-block {
  margin-bottom: 20px;
}
/* =events
-----------------------------------------------------*/
.view-id-events a {
  text-decoration: none;
}
.view-id-events .views-row {
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 8px;
}
.view-id-events .views-row .date {
  float: left;
  background: #999;
  width: 47px;
  height: 47px;
  margin-right: 10px;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  padding: 4px;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
}
.view-id-events .views-row .date span {
  font-family: Georgia, serif;
  font-size: 30px;
}
.view-id-events .views-row .info {
  float: left;
  width: 400px;
  height: 39px;
  padding: 8px 0;
  overflow: hidden;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.view-id-events .views-row .info .title {
  color: #bf0018;
  font-size: 16px;
  font-weight: 400;
}
.view-id-events .views-row .info .location {
  margin-top: 2px;
  color: #333333;
  font-size: 12px;
}
.view-id-events .views-row .info .location em {
  font-style: normal;
}
.view-id-events .views-row .info .location span {
  color: #dddddd;
  padding: 0 5px;
}
.view-id-events .views-row .event-picture {
  float: right;
}
.cover-unveil {
  background-color: #efefef;
  overflow: hidden;
}
.page-node .event-information {
  width: 495px;
  float: right;
}
.page-node .event-information .field {
  margin-bottom: 15px;
}
.page-node .event-information .map {
  padding-top: 10px;
  margin-bottom: 15px;
}
#sidebar #block-views-events-block .views-row .date {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  width: 35px;
  height: 35px;
}
#sidebar #block-views-events-block .views-row .date span {
  line-height: 0;
  font-size: 22px;
}
#sidebar #block-views-events-block .views-row .info {
  width: 236px;
  height: 35px;
  padding: 4px 0;
}
#sidebar #block-views-events-block .views-row .info .title {
  font-size: 15px;
}
#block-views-events-block-1 {
  background-image: url('../images/cover-unveilBKG.jpg');
  background-repeat: no-repeat;
  height: 160px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #e6e6e6;
  border-left: 0;
  position: relative;
  color: #d12329;
  text-shadow: 1px 1px 2px #bbbbbb;
  font-family: Georgia, serif;
}
#block-views-events-block-1 .views-row {
  border: none;
  background-color: transparent;
}
#block-views-events-block-1 .views-row .views-field-name {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  left: 45px;
  bottom: 20px;
}
#block-views-events-block-1 .views-row .views-field-field-event-date {
  position: absolute;
  left: 45px;
  bottom: 5px;
  font-size: 15px;
}
/* =newsletter form
-----------------------------------------------------*/
#sidebar .block-webform label {
  margin: 8px 0 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#sidebar .block-webform input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #cccccc;
}
#sidebar .block-webform .form-actions {
  margin-top: 10px;
}
#sidebar .block-webform .form-actions input {
  padding: 2px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #232323;
  border-radius: 3px;
}
.clear {
  clear: both;
}
/* =forms
-----------------------------------------------------*/
#main-content label {
  margin: 8px 0 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#main-content input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #cccccc;
}
#main-content .form-actions {
  margin-top: 10px;
}
#main-content .form-actions input {
  padding: 2px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #232323;
  border-radius: 3px;
  width: 12em;
}
/* =twitter block
-----------------------------------------------------*/
#twitter_block_results li {
  border-bottom: 2px solid #bbbbbb;
  overflow: hidden;
  padding: 10px 0;
}
#twitter_block_results li .twitter_block_user {
  float: left;
}
#twitter_block_results li .twitter_block_user span {
  display: none;
}
#twitter_block_results li .tweet_text {
  float: right;
  width: 235px;
}
/* =bachelor styles
-----------------------------------------------------*/
.page-node-191 p {
  margin-bottom: 5px !important;
}
#block-advpoll-advpoll-block-194 {
  background-color: #bf0018;
  padding: 20px;
  color: #f1f1f1;
  font-size: 16px;
}
#block-advpoll-advpoll-block-194 h1 {
  display: none;
}
#block-advpoll-advpoll-block-194 h2 {
  display: none;
}
/* =MyCapture Photo Galleries
-----------------------------------------------------*/
div#block-block-5 {
  background-color: #dddddd;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
div#block-block-5 .more-link {
  border-top: 1px dashed #ffffff;
  color: #dddddd;
  font-size: 10px;
  font-weight: 700;
  height: auto;
  margin: 8px 10px;
  padding: 5px;
  text-transform: uppercase;
}
div#block-block-5 table {
  margin: 0;
}
.MYCfeaturedescrip14115,
.MYCfeaturedescrip11260 {
  display: none;
  padding: 10px 0;
}
.MYCcontentfeed11260 tbody,
.MYCcontentfeed14115 tbody {
  border: none;
}
.MYCfeaturelink14115 {
  width: 150px;
  padding: 5px;
  font-family: inherit;
}
.MYCfeaturelink14115 a,
.MYCfeaturelink14115 a:visited,
.MYCfeaturelink14115 a:hover {
  color: #bf0018 !important;
  font-family: inherit !important;
}
.MYCfeaturelink14115 img {
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.MYCfeaturelink11260 {
  width: 200px;
  padding: 10px 5px;
  font-family: inherit;
}
.MYCfeaturelink11260 a,
.MYCfeaturelink11260 a:visited,
.MYCfeaturelink11260 a:hover {
  color: #bf0018 !important;
  font-family: inherit !important;
}
.MYCfeaturelink11260 img {
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
div.thumbs {
  overflow: hidden;
}
div.thumbs img.imagecache-style_gallery {
  float: left;
  margin: 0 23px 10px;
  border: 5px solid #eeeeee;
}
/* =minisidebar styles
-----------------------------------------------------*/
#block-views-homepage-block-1 .block-content div.views-row {
  border-bottom: 5px solid #e9e8e5;
  margin-bottom: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  padding-right: 0;
}
#block-views-homepage-block-1 .block-content div.views-field-title {
  display: block;
  line-height: 15px;
  font-size: 15px;
  margin-bottom: 5px;
}
#block-views-homepage-block-1 .block-content div.views-field-field-byline {
  float: left;
  line-height: 12px;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 7px;
}
#block-views-homepage-block-1 .block-content div.views-field-created {
  line-height: 12px;
  float: right;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #e9e8e5;
  text-transform: uppercase;
  display: none;
}
#block-views-homepage-block-1 .block-content div.views-field-nid {
  clear: both;
  float: left;
  margin-top: 7px;
  line-height: 12px;
  font-size: 9px;
  text-transform: uppercase;
}
#block-views-homepage-block-1 .block-content div.views-field-nid a {
  color: #202020;
}
#block-views-homepage-block-1 .block-content div.views-field-nid a:hover {
  color: #bf0018;
}
#block-views-homepage-block-1 .block-content div.views-field-field-section {
  float: left;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 12px;
}
#block-views-homepage-block-4 .views-row {
  margin-bottom: 10px;
  position: relative;
}
#block-views-homepage-block-4 .views-row .views-field-title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  position: relative;
  top: 0;
  z-index: 20;
  display: block;
  font-size: 13px;
}
#block-views-homepage-block-4 .views-row .views-field-title a {
  color: #f1f1f1;
  font-style: italic;
  display: block;
}
#block-views-homepage-block-4 .views-row .views-field-field-image {
  position: relative;
  top: 0;
  margin-top: -28px;
}
/* =bestof
-----------------------------------------------------*/
div.bestof {
  float: left;
  width: 280px;
  border-radius: 10px;
  margin: 0 6px 10px;
  border: 2px solid #DDD;
  text-align: center;
  overflow: hidden;
}
div.bestof p {
  margin-bottom: 0 !important;
}
div.bestof .category {
  font-family: Georgia;
  font-style: italic;
  background: #bf0018;
  display: block;
  padding: 10px;
  color: #F1F1F1;
  font-size: 16px;
}
div.bestof .winner {
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
}
.page-best-of-voting {
  /*h1.page-title {
		background-image: url('../images/bestof/2014-background.jpg');
		width: 600px;
		height: 114px;
		text-indent: -9000px;
	}*/

}
.page-best-of-voting .view-best-of .views-row {
  width: 294px;
  float: left;
  margin: 0 10px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e1e1e1;
  overflow: hidden;
  height: 264px;
}
.page-best-of-voting .view-best-of .views-row h1.no-media {
  font-size: 13px;
  line-height: 12px;
  height: auto;
  width: auto;
  background-image: none;
}
.page-best-of-voting .view-best-of .views-row div.attachments {
  padding: 0 8px 8px;
}
.page-best-of-voting .view-best-of .views-row div.attachments .form-radios {
  margin-bottom: 10px;
}
.page-best-of-voting .view-best-of .views-row div.attachments .form-radios .form-radio {
  width: 20px !important;
}
.page-best-of-voting .view-best-of #edit-write-in {
  width: 250px;
  margin-top: 25px;
  display: block;
}
