// -----------------------------------------------------
//	location:		/styles/echo.scss
//	version:		1.0
//	author:			andrew newland
//	email:			andrew@ithinkpixels.com
//
//	creation:		Dec 03, 2015 05:54:14 MST
// -----------------------------------------------------


// = scss variables 
// -----------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,100,300,900);

$openSans: 'Open Sans', sans-serif;
$openSansCon: 'Open Sans Condensed', sans-serif;
$lato: 'Lato', sans-serif;

$phones: 480px; 		// XSmall devices (phones, 480 and down)
$tablets: 768px; 		// Small devices (tablets, 768px and up)
$desktops: 992px; 		// Medium devices (desktops, 992px and up)
$desktopsXL: 1200px; 	// Large devices (desktops, 1200px and up)

$lightGreen: #77cc33;
$darkGreen: #6bb82e;
$darkGray: rgb(105,105,105);
$lightGray: #d3d3d3;


// = body/taxonomy 
// -----------------------------------------------------
body {
	font: $openSans;

	a { 
		color: $darkGreen;
		
		&:hover {
			color: $darkGray;
			text-decoration: none;
		}
	}
	
	p {
		font-family: $openSans;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 15px;
	}
}


// = header 
// -----------------------------------------------------
header {
	//background: $lightGreen;
	//border-top: 8px solid $darkGreen;
	background-image: url('../images/headerBKG.png');
	background-position: -700px top;
	box-shadow: 0px 0px 5px #888888;
	
	.branding {
		background-image: url('../images/branding-white-sm.png');
		background-repeat: no-repeat;
		background-position: center top;
		margin: 16px 0;
		height: 40px;
		
		span {
			display: none;
		}
	}
	
	#primary-nav {
		padding-right: 0;
		background-color: #444645;
		font-family: $lato;
		padding-top: 20px;
		padding-bottom: 20px;
			
		h2 { display: none; }
		.region-primary-nav { display: none; }
		
		ul.nav {
			text-align: right;
			
			a {
				color: #fff;
				font-weight: 400;
				text-transform: uppercase;
				font-size: 16px;
				padding: 10px 16px;
				
				&:hover, &:focus {
					background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
				}
			}
			
			.open > a {
				background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
			}
		}
		
		ul.dropdown-menu {
			padding: 0;
			margin: 0;
			top: 98%;
			border-radius: 0;
			box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
			
			a {
				color: rgb(34, 34, 34);
				font-weight: 300;
				font-size: 14px;
				text-transform: none;
				padding: 4px 15px;
				letter-spacing: 1px;
				outline: none;
				
				&:hover {
					background: rgba(0,0,0,.1);
				}
			}
			
			& > .active > a {
				background: rgba(0,0,0,.1);
			}
		}
		
		.nav > li {
			display: inline-block;
			border-left: 1px solid #5A5A5A;
			border-right: 1px solid #5A5A5A;
			margin: 0 -2px;
			
			&.first { border-left-width: 2px; }
			
			&.last { border-right-width: 2px; }
		}
		
		a.mobile-menu {
			font-size: 30px;
			color: rgb(255, 255, 255);
			position: absolute;
			top: 15px;
			right: 25px;
			
			@media (min-width: $phones) and (max-width: $desktops) {
				right: 75px;
			}
		}
		
		@media (max-width: $desktops) {
			height: 72px;
		}
	}
	
	@media (min-width: $desktops) {
		background-position: center top;
		
		.branding {
			background-image: url('../images/branding-white.png');
			background-position: center top;
			height: 62px;
			margin: 10px 0;
		}
		
		#primary-nav {
			.region-primary-nav { display: block; }
			a.mobile-menu { display: none; }
		}
	}
}

.mmenu-nav.mm-basic.mm-vertical li.mm-opened > a.mm-subopen {
	width: 60px;
}


// = footer 
// -----------------------------------------------------
footer {
	margin-bottom: 34px;
	
	.footer {
		border: none;
		margin-top: 0;
		font-family: $openSans;
	}
	
	.footer-top {
		padding: 20px;
		background-color: $lightGray;
		
		.menu {
			text-transform: uppercase;
			font-weight: 700;
			text-align: center;
			margin-bottom: 20px;
			
			ul {
				margin: 0;
				padding: 0;
				
				li {
					list-style: none;
					font-size: 16px;
					line-height: 40px;
					
					&.label { background-color: transparent; }
					
					a {
						color: #777777;
					
						&:hover {
							//background-color: $darkGreen;
							color: $darkGreen;
						}
					}	
				}
			}
		}
		
		.contact {
			text-align: center;
			
			p {
				font-size: 12px;
				margin: 0;
				line-height: 18px;
				font-weight: 700;
			}
			
			i { margin: 0 5px; }

			a {
				background-image: url('../images/branding-black.png');
				background-repeat: no-repeat;
				height: 68px;
				display: block;
				background-position: center center;
				margin-bottom: 0px;
				
				span { display: none; }
			}

			@media (min-width: $desktops) {
				text-align: right;
				
				a {
					background-position: right center;
				}
			}

		}
	}
	
	.footer-bottom {
		padding: 10px;
		background-color: #444645;
		color: #cccccc;
		
		a {
			color: #cccccc;
			font-weight: 700;
			
			&:hover {
				color: #ffffff;
			}
		}
		
		.social {
			text-align: center;
			
			.social-link {
				border-radius: 3px 3px 3px 3px;
			    background: #626664;
			    border-style: solid;
			    border-color: #626664;
			    border-top-width: 1px;
			    border-right-width: 1px;
			    border-bottom-width: 1px;
			    border-left-width: 1px;
				color: #fbfbfb;				
				display: inline-block;
			    margin: 10px 5px 5px 1px;
			    text-align: center;
			    line-height: 26px;
			    width: 26px;
			    height: 26px;
			    font-size: 16px;
			    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			    
			    &.facebook:hover {
					color: #ffffff;
				    background-color: #3b5a9a;
				    border-color: #3b5a9a;
			    }
			    
			    &.twitter:hover {
					color: #ffffff;
				    background-color: #1aa9e1;
					border-color: #1aa9e1;
			    }
			    
			    &.pinterest:hover {
					color: #ffffff;
					background-color: #cc2127;
					border-color: #cc2127;
			    }
			    
			    &.youtube:hover {
					color: #ffffff;
					background-color: #c3191e;
					border-color: #c3191e;
			    }

			    &.instagram:hover {
					color: #ffffff;
					background-color: #7c4a3a;
					border-color: #7c4a3a;
			    }
			    
			    &.linkedin:hover {
					color: #ffffff;
					background-color: #0073b2;
					border-color: #0073b2;
			    }

			    &.google:hover {
					color: #ffffff;
					background-color: #dd4b39;
					border-color: #dd4b39;
			    }
			    
			    &.rss:hover {
					color: #ffffff;
				    background-color: #e17400;
				    border-color: #cc6d07;
			    }

			    &.ios:hover {
					color: #ffffff;
				    background-color: #0088cc;
				    border-color: #067bb6;
			    }

			    &.android:hover {
					color: #ffffff;
				    background-color: #96cf3b;
				    border-color: #89bf33;
			    }
			    			    	
			}
		
			@media (min-width: $tablets) {
				text-align: left;
			}
		
			@media (min-width: $desktops) {
				.social-link {
					margin-top: 5px;
					line-height: 36px;
					width: 36px;
					height: 36px;
					font-size: 20px;
				}
			}	
			
		}
		
		.copyright {
			text-align: center;
			p { 
				line-height: 46px;
				font-size: 11px;
			}
			
			@media (min-width: $tablets) {
				text-align: right;
			}
		}
	}
}


// = section 
// -----------------------------------------------------
section {
	.container.section .row {
		margin: 15px auto;
	}
	
	.preContent {
		border-bottom: 1px solid #efeff0;
	}
	
	.mainContent {
		.style-galleries {
			padding: 10px;
			overflow: hidden;
			
			.field-item {
				//border: 2px solid $darkGray;
				float: left;
				width: 45%;
				margin: 0 8px 20px;
				
				@media(min-width: $desktops) {
					width: 30%;
				}
				
				img {
					border: 2px solid $darkGray;
					margin: 0 auto;
				}
			}
		}
		
		.event.teaser {
			background-color: rgba(211, 211, 211, 0.09);
			padding: 15px;
			font-family: $openSans;

			p.title {	
				font-family: $lato;
				font-weight: 700;
				font-size: 20px;
				margin-bottom: 0;
				text-transform: uppercase;
				color: $darkGray;
			}
			
			div.date {
				font-size: 16px;
				font-family: $lato;
			}
			
			div.descript {
				margin-top: 10px;
				
				p { color: #888; }
				
				.readmore { 
					font-weight: 700;
					margin-top: 10px; 
				}
			}
			
			.event-picture {
				float: right;
				margin-left: 15px;
			}
		}
	}
	
	.sidebarContent {
		.block {
			margin-bottom: 20px;
		
			&.med-rectangle div {
				margin: 0 auto;
			}
		}
		
		#block-views-homepage-block-5 {
			margin-bottom: 0;
			.views-row {
				overflow: hidden;
				border: 1px solid #ccc;
				border-radius: 8px;
				padding-bottom: 0;
				
				.views-field-title {
					width: 74%;
					float:left;
					font-family: $lato;
					font-size: 20px;
					
					a {
						display: block;
					    padding: 5px 10px;
					    /* color: #888; */
					    font-weight: 700;
					    text-transform: uppercase;
					    
					    &:hover {
						    background: #f1f1f1;
					    }
					}
				}
				
				.views-field-field-image {
					    width: 25%;
						float: right;
						margin-right: 0;
				}
			}
		}
		
		#block-views-covers-block,
		#block-webform-client-block-96 {
			background: rgba(211, 211, 211, 0.31);
			border: 1px solid rgba(189, 189, 189, 0.34);
			border-radius: 5px;
			padding: 20px;
			
			h2  {
				text-align: center;		
				font-family: $lato;
				font-weight: 700;
				font-size: 20px;
				padding: 10px 0;
				text-transform: uppercase;
				color: $darkGray;
				border-bottom: 1px solid $darkGray;
				border-top: 4px solid $darkGray;
			}
			
			img { margin: 0 auto; }
			
			.view-footer {
				text-align: center;
				margin-top: 10px;
				font-weight: 300;
				font-family: $lato;
			
				p { font-size: 25px; }
			}			
		}
		
		#block-views-events-block {
			border-bottom: 4px solid $darkGray;
			
			h2  {
				text-align: center;		
				font-family: $lato;
				font-weight: 700;
				font-size: 20px;
				padding: 10px 0;
				text-transform: uppercase;
				color: $darkGray;
				border-bottom: 1px solid $darkGray;
				border-top: 4px solid $darkGray;
			}
			
			.views-row {
				border: 1px solid $lightGray;
				border-radius: 4px;
				padding: 8px;
				margin-bottom: 8px;
				background-color: #f1f1f1;
				
				&:hover {
					background-color: #fff;
				}
				
				.title {
					font-family: $lato;
					color: #888;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 16px;
					margin-bottom: 0;
				}
				
				.node { 
					margin-bottom: 0;
					border: none;
 				}
				
				.field-name-body, .readmore, img {
					display: none;
				}				
			}
		
			.view-footer {
				a {
					font-weight: 700;
					&.submit {
						display: none;
					}
				}
			}		
		}
		
		#block-webform-client-block-96 h2 { margin-top: 0; }
		
		#block-block-6 {
			.panel-heading {
				padding: 0;
				border-bottom: 0;
				
				.nav-tabs {
					li {						
						border: 0;
						font-size: 22px;
						
						a { color: #777777; }

						&.active {
							&.facebook {
								background: #3b5a9a;
							}
							
							&.twitter {
								background: #1aa9e1;
							}
							
							&.instagram {
								background: #7c4a3a;
							}
							
							&.pinterest {
								background: #cc2127;
							}
						}
					}
				}
				
				.nav-tabs > li.active > a, 
				.nav-tabs > li.active > a:hover, 
				.nav-tabs > li.active > a:focus {
					color: #ffffff;
					background-color: transparent;
					border: 0;
					font-size: 22px;
				}
			}
			
			.panel-body {
				border-radius: 0;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
			}
			
		}
	}
	
	.posrContent {
		border-top: 1px solid #efeff0;
		
		
		#block-views-homepage-block-6,
		#block-block-7 {
			overflow: hidden;
			text-align: center;
			
			.views-row { clear: none !important; }
			
			.node.teaser {
				border: none;
				position: relative;
			}
			
			table.MYCcontentfeed27576 {
				width: 100%
			}
			
			h2 {
				font-family: $lato;
				font-weight: 700;
				font-size: 30px;
				padding: 10px 0;
				text-align: left;
				text-transform: uppercase;
				color: $darkGray;
				border-bottom: 1px solid $darkGray;
				border-top: 4px solid $darkGray;
			}

			@media (max-width: 768px) {
				table.MYCcontentfeed27576 {
					td { display: none; }
					td:first-of-type {
						display: block;
						
						img { width: 380px; }
					}
				}
			}
			
			img {
				@media (min-width: $tablets) {
					width: 192px;
					height: 130px;
				}
				
				@media (min-width: $desktops) {
					width: 192px;
					height: 130px;
				}
				
				@media (min-width: $desktopsXL) {
					width: 240px;
					height: 150px;
				}
			}
			
			@media (max-width: $desktops) {
				.views-row-4 { display: none; }
			}
			
			div.bscene-branding {
				background-image: url('../images/bscene-watermark.png');
				height: 50px;
			    width: 50px;
			    background-size: cover;
			    position: absolute;
			    top: 10px;
			    left: 28px;
				
			}
			
			span {
				font-size: 14px;
				font-family: $lato;
				font-weight: 300;
				color: #333;
				text-decoration: none;
			}
			
			.MYCfeaturedescrip27576 { display: none; }
		}
	}
	
	@media (min-width: $tablets) {
		.sidebarContent {
			border-left: 1px solid #efeff0;
		}
	}
	
	h1.page-title {
		font-family: $lato;
		font-weight: 700;
		font-size: 30px;
		padding: 10px 0;
		text-transform: uppercase;
		color: $darkGray;
		border-bottom: 1px solid $darkGray;
		border-top: 4px solid $darkGray;
	}
	
	// = homepage view
	.view-homepage {		
		.views-field-body {
			h3 {
				margin-top: 0;
				margin-bottom: 5px;
				font-family: $lato;
				font-weight: 700;
				font-size: 24px;
			}
			
			h4 {
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 700;
				margin-top: 5px;
				font-family: $lato;
				color: $darkGray;
			}
			
			span a {
				text-transform: uppercase;
				font-weight: 700;
				margin: 20px 0;
				font-family: $openSans;
				font-size: 13px; 
				line-height: 16px;
			}
		}
		
		.views-row {
			border-bottom: 1px solid #efeff0;
			margin-bottom: 15px;
			padding-bottom: 15px;
			overflow: hidden;
			clear: both;
			
			@media (min-width: $tablets) {
				.views-field-field-image {
					width: 400px;
					float: left;
					margin-right: 15px;
				}
			}

			@media (max-width: 1199px) {
				.views-field-field-image { 
					width: 300px; 
				}
			}			

			@media (max-width: 991px) {
				.views-field-field-image {
					float: none;
					margin-right: 0;
					width: 100%;
					img { width: 100%; }
				}
			}
		}		
		
		// = first row
		.attachment .views-row-first {
			border-bottom: 1px solid #efeff0;
			margin-bottom: 15px;
			
			.views-field-field-image {
				width: 100%; 
				
				img { width: 100%; }
			}
			
			.views-field-body {
				.field-content {
				    position: relative;
					top: -40px;
					
					h3 {
						margin-top: 0;
						display: inline-block;
						background-color: white;
						font-size: 33px;
		    			padding: 10px 20px 5px 0px;
						z-index: 900;
						margin-bottom: 0;
					}
					
					h4 {
						margin-top: 0;
					}
				}
			}
		}
	}
	
	// = article nodes
	.views-row {
		.node {
			overflow: hidden;
			border-bottom: 1px solid rgba(177, 177, 177, 0.5);
			margin-bottom: 15px;
			clear: both;
			
			.media {
				margin-bottom: 15px;
				
				img { 
					width: 100%; }
			}
			
			.teaser-content {
				h3 {
					margin-top: 0;
					margin-bottom: 5px;
					font-weight: 700;
					font-family: $lato;
				}
				
				h4 {
					font-size: 12px;
					text-transform: uppercase;
					font-weight: 700;
					margin-top: 5px;
					font-family: $lato;
					color: $darkGray;
					
					.field-name-field-issue-month {
						float: left;
						margin-right: 5px;
					}
				}
				
				.readmore {
					text-transform: uppercase;
					font-weight: 700;
					margin: 20px 0;
				}
			}
						
			@media (min-width: $tablets) {
				.media {
					float: left;
					margin-right: 15px;
					
					img {
						width: 400px;
					}
				}
			}
			
			@media (max-width: 1199px) {
				.media img { width: 300px; }
			}			
			
			@media (max-width: 991px) {
				.media {
					float: none;
					margin-right: 0; 
					img { width: 100%; }
				}
			}
		}
	}
	
	.full-node {
		.media {
			img {
				width: 100%;
			}
		}
		
		.social-sharing {
			margin: 5px 0;
			background: lightgray;
			height: 32px;
    
			.addthis_sharing_toolbox { 
				position: relative;
				top: -2px;
				background: white;
				display: inline-flex;
				left: -2px;
				padding-right: 2px;
			}
		}
		
		.node-content {
			margin: 20px 0;
			
			.byline {
				font-family: $lato;
				text-transform: uppercase;
			    font-weight: 700;
			    color: #999;
			    margin-bottom: 10px;
				
				.field-item::before { content: "By "; }
			}
			
			div.field-item p:first-of-type {
				font-family: $lato;
				font-weight: 700;
				font-size: 18px;
				line-height: 26px;
				color: $darkGray;
			}
		}
		
		.taxonomy {
			color: $darkGray;
			margin-top: -5px !important;
			font-size: 15px;
			font-weight: 300;
			text-transform: uppercase;
			font-family: $lato;
			
			.section { 
				text-align: left;
				margin-left: -15px;
			}
			
			.issue { 
				margin-right: -15px;
				text-align: right;
				
				.field-name-field-issue-year {
					float: right;
					margin-left: 5px;
					position: relative;
					right: -30px;
				}
				
				.field-name-field-issue-month {
					position: relative;
					right: -30px;
				}
			}
		}

		.commenting {
			h2 {
				font-family: $lato;
				font-weight: 700;
				font-size: 20px;
				padding: 10px 0;
				text-transform: uppercase;
				color: $darkGray;
				border-bottom: 1px solid $darkGray;
				border-top: 4px solid $darkGray;
			}
		}
		
	}
	
	// issues display
	.view-id-covers.view-display-id-page {
		.views-row {
			float: left;
			width: 100%;
			text-align: center;
			margin: 0 0 30px;
			
			@media (min-width: $desktops) {
				margin: 0 9px 25px;
				width: 30%;
			}

			@media (min-width: $tablets) and (max-width: $desktops) {
				margin: 0 0 25px;
				width: 50%;
			}
						
			.views-field-field-issue-year {
				font-weight: 700;
				font-family: $lato;
				font-size: 14px;
				text-transform: uppercase;
			}
			
			img { margin: 0 auto; }
		}
	}
	
	// pagination 
	.pager {
		.pager-current { display: none; }
		.pager-previous { float: left; }
		.pager-next { float: right; }	
	}
}

.page-list-style-gallery {
	.view-display-id-page {
		.views-row {
			width: 45%;
			float: left;
			margin: 0 8px 20px;
			
			@media (min-width: $tablets) and (max-width: $desktops) {
				margin: 0 10px 20px;
			}
			
			@media (min-width: $desktops) and (max-width: $desktopsXL) {
				margin: 0 12px 20px;
			}
			
			@media (min-width: $desktopsXL) {
				margin: 0 18px 20px;
			}
			
			.title {
				font-family: $lato;
				font-weight: 700;
				font-size: 20px;
				padding: 10px 0;
				text-transform: uppercase;
				text-align: center;
				color: $darkGray;
				//border-bottom: 1px solid $darkGray;
				border-top: 4px solid $darkGray;
			}
			
			img { 
				margin: 0 auto;
				border: 1px solid #888;
			}
			
			&.views-row-odd {
				clear: both;
			}
		}
	}
}


// = mobile menu overrides 
// -----------------------------------------------------
.mmenu-nav.mm-basic {
	font-family: $openSans;
	background: #353535;
	color: #cccccc;
	
	&> .mm-list li {
	    border-top: 1px solid #505050;
		border-bottom: 1px solid #3c3c3c;
	}
	
	.mm-list a:hover {
		background-color: rgba(0,0,0,.1);
	}
	
	.mm-subopen {
		padding: 0 32px;
	}

	&> .mm-footer{
		background: #353535;
		color: #cccccc;
	}
}



// = advpoll styles 
// -----------------------------------------------------
.view-best-of {
	.views-row {
	    width: 45%;
	    border: 2px solid dimgray;
	    border-radius: 8px;
	    margin: 10px 18px;
	    float: right;
	    overflow: hidden;
	    
	    &.views-row-odd {
		    clear: both;
	    }
	    
	    h1.page-title {
			margin: 0;
		    color: #fff;
		    background: rgb(142,193,56);
		    padding: 10px;
		    border-top: 0;
		    font-size: 20px;    
	    }
	    
	    div.attachments {
		    padding: 0 15px 10px;
			margin-top: -10px;
	    }
	    
	    input#edit-write-in {
		    width: 270px;
	    }
	    
	    .poll-noresult {
			margin-top: 20px;
		}
	}
}