@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,100,300,900);
body {
  font: "Open Sans", sans-serif; }
  body a {
    color: #6bb82e; }
    body a:hover {
      color: dimgray;
      text-decoration: none; }
  body p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px; }

header {
  background-image: url("../images/headerBKG.png");
  background-position: -700px top;
  box-shadow: 0px 0px 5px #888888; }
  header .branding {
    background-image: url("../images/branding-white-sm.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin: 16px 0;
    height: 40px; }
    header .branding span {
      display: none; }
  header #primary-nav {
    padding-right: 0;
    background-color: #444645;
    font-family: "Lato", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px; }
    header #primary-nav h2 {
      display: none; }
    header #primary-nav .region-primary-nav {
      display: none; }
    header #primary-nav ul.nav {
      text-align: right; }
      header #primary-nav ul.nav a {
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        padding: 10px 16px; }
        header #primary-nav ul.nav a:hover, header #primary-nav ul.nav a:focus {
          background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; }
      header #primary-nav ul.nav .open > a {
        background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; }
    header #primary-nav ul.dropdown-menu {
      padding: 0;
      margin: 0;
      top: 98%;
      border-radius: 0;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05); }
      header #primary-nav ul.dropdown-menu a {
        color: #222222;
        font-weight: 300;
        font-size: 14px;
        text-transform: none;
        padding: 4px 15px;
        letter-spacing: 1px;
        outline: none; }
        header #primary-nav ul.dropdown-menu a:hover {
          background: rgba(0, 0, 0, 0.1); }
      header #primary-nav ul.dropdown-menu > .active > a {
        background: rgba(0, 0, 0, 0.1); }
    header #primary-nav .nav > li {
      display: inline-block;
      border-left: 1px solid #5A5A5A;
      border-right: 1px solid #5A5A5A;
      margin: 0 -2px; }
      header #primary-nav .nav > li.first {
        border-left-width: 2px; }
      header #primary-nav .nav > li.last {
        border-right-width: 2px; }
    header #primary-nav a.mobile-menu {
      font-size: 30px;
      color: white;
      position: absolute;
      top: 15px;
      right: 25px; }
      @media (min-width: 480px) and (max-width: 992px) {
        header #primary-nav a.mobile-menu {
          right: 75px; } }
    @media (max-width: 992px) {
      header #primary-nav {
        height: 72px; } }
  @media (min-width: 992px) {
    header {
      background-position: center top; }
      header .branding {
        background-image: url("../images/branding-white.png");
        background-position: center top;
        height: 62px;
        margin: 10px 0; }
      header #primary-nav .region-primary-nav {
        display: block; }
      header #primary-nav a.mobile-menu {
        display: none; } }

.mmenu-nav.mm-basic.mm-vertical li.mm-opened > a.mm-subopen {
  width: 60px; }

footer {
  margin-bottom: 34px; }
  footer .footer {
    border: none;
    margin-top: 0;
    font-family: "Open Sans", sans-serif; }
  footer .footer-top {
    padding: 20px;
    background-color: #d3d3d3; }
    footer .footer-top .menu {
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px; }
      footer .footer-top .menu ul {
        margin: 0;
        padding: 0; }
        footer .footer-top .menu ul li {
          list-style: none;
          font-size: 16px;
          line-height: 40px; }
          footer .footer-top .menu ul li.label {
            background-color: transparent; }
          footer .footer-top .menu ul li a {
            color: #777777; }
            footer .footer-top .menu ul li a:hover {
              color: #6bb82e; }
    footer .footer-top .contact {
      text-align: center; }
      footer .footer-top .contact p {
        font-size: 12px;
        margin: 0;
        line-height: 18px;
        font-weight: 700; }
      footer .footer-top .contact i {
        margin: 0 5px; }
      footer .footer-top .contact a {
        background-image: url("../images/branding-black.png");
        background-repeat: no-repeat;
        height: 68px;
        display: block;
        background-position: center center;
        margin-bottom: 0px; }
        footer .footer-top .contact a span {
          display: none; }
      @media (min-width: 992px) {
        footer .footer-top .contact {
          text-align: right; }
          footer .footer-top .contact a {
            background-position: right center; } }
  footer .footer-bottom {
    padding: 10px;
    background-color: #444645;
    color: #cccccc; }
    footer .footer-bottom a {
      color: #cccccc;
      font-weight: 700; }
      footer .footer-bottom a:hover {
        color: #ffffff; }
    footer .footer-bottom .social {
      text-align: center; }
      footer .footer-bottom .social .social-link {
        border-radius: 3px 3px 3px 3px;
        background: #626664;
        border-style: solid;
        border-color: #626664;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        color: #fbfbfb;
        display: inline-block;
        margin: 10px 5px 5px 1px;
        text-align: center;
        line-height: 26px;
        width: 26px;
        height: 26px;
        font-size: 16px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
        footer .footer-bottom .social .social-link.facebook:hover {
          color: #ffffff;
          background-color: #3b5a9a;
          border-color: #3b5a9a; }
        footer .footer-bottom .social .social-link.twitter:hover {
          color: #ffffff;
          background-color: #1aa9e1;
          border-color: #1aa9e1; }
        footer .footer-bottom .social .social-link.pinterest:hover {
          color: #ffffff;
          background-color: #cc2127;
          border-color: #cc2127; }
        footer .footer-bottom .social .social-link.youtube:hover {
          color: #ffffff;
          background-color: #c3191e;
          border-color: #c3191e; }
        footer .footer-bottom .social .social-link.instagram:hover {
          color: #ffffff;
          background-color: #7c4a3a;
          border-color: #7c4a3a; }
        footer .footer-bottom .social .social-link.linkedin:hover {
          color: #ffffff;
          background-color: #0073b2;
          border-color: #0073b2; }
        footer .footer-bottom .social .social-link.google:hover {
          color: #ffffff;
          background-color: #dd4b39;
          border-color: #dd4b39; }
        footer .footer-bottom .social .social-link.rss:hover {
          color: #ffffff;
          background-color: #e17400;
          border-color: #cc6d07; }
        footer .footer-bottom .social .social-link.ios:hover {
          color: #ffffff;
          background-color: #0088cc;
          border-color: #067bb6; }
        footer .footer-bottom .social .social-link.android:hover {
          color: #ffffff;
          background-color: #96cf3b;
          border-color: #89bf33; }
      @media (min-width: 768px) {
        footer .footer-bottom .social {
          text-align: left; } }
      @media (min-width: 992px) {
        footer .footer-bottom .social .social-link {
          margin-top: 5px;
          line-height: 36px;
          width: 36px;
          height: 36px;
          font-size: 20px; } }
    footer .footer-bottom .copyright {
      text-align: center; }
      footer .footer-bottom .copyright p {
        line-height: 46px;
        font-size: 11px; }
      @media (min-width: 768px) {
        footer .footer-bottom .copyright {
          text-align: right; } }

section .container.section .row {
  margin: 15px auto; }
section .preContent {
  border-bottom: 1px solid #efeff0; }
section .mainContent .style-galleries {
  padding: 10px;
  overflow: hidden; }
  section .mainContent .style-galleries .field-item {
    float: left;
    width: 45%;
    margin: 0 8px 20px; }
    @media (min-width: 992px) {
      section .mainContent .style-galleries .field-item {
        width: 30%; } }
    section .mainContent .style-galleries .field-item img {
      border: 2px solid dimgray;
      margin: 0 auto; }
section .mainContent .event.teaser {
  background-color: rgba(211, 211, 211, 0.09);
  padding: 15px;
  font-family: "Open Sans", sans-serif; }
  section .mainContent .event.teaser p.title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: dimgray; }
  section .mainContent .event.teaser div.date {
    font-size: 16px;
    font-family: "Lato", sans-serif; }
  section .mainContent .event.teaser div.descript {
    margin-top: 10px; }
    section .mainContent .event.teaser div.descript p {
      color: #888; }
    section .mainContent .event.teaser div.descript .readmore {
      font-weight: 700;
      margin-top: 10px; }
  section .mainContent .event.teaser .event-picture {
    float: right;
    margin-left: 15px; }
section .sidebarContent .block {
  margin-bottom: 20px; }
  section .sidebarContent .block.med-rectangle div {
    margin: 0 auto; }
section .sidebarContent #block-views-homepage-block-5 {
  margin-bottom: 0; }
  section .sidebarContent #block-views-homepage-block-5 .views-row {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-bottom: 0; }
    section .sidebarContent #block-views-homepage-block-5 .views-row .views-field-title {
      width: 74%;
      float: left;
      font-family: "Lato", sans-serif;
      font-size: 20px; }
      section .sidebarContent #block-views-homepage-block-5 .views-row .views-field-title a {
        display: block;
        padding: 5px 10px;
        /* color: #888; */
        font-weight: 700;
        text-transform: uppercase; }
        section .sidebarContent #block-views-homepage-block-5 .views-row .views-field-title a:hover {
          background: #f1f1f1; }
    section .sidebarContent #block-views-homepage-block-5 .views-row .views-field-field-image {
      width: 25%;
      float: right;
      margin-right: 0; }
section .sidebarContent #block-views-covers-block,
section .sidebarContent #block-webform-client-block-96 {
  background: rgba(211, 211, 211, 0.31);
  border: 1px solid rgba(189, 189, 189, 0.34);
  border-radius: 5px;
  padding: 20px; }
  section .sidebarContent #block-views-covers-block h2,
  section .sidebarContent #block-webform-client-block-96 h2 {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    color: dimgray;
    border-bottom: 1px solid dimgray;
    border-top: 4px solid dimgray; }
  section .sidebarContent #block-views-covers-block img,
  section .sidebarContent #block-webform-client-block-96 img {
    margin: 0 auto; }
  section .sidebarContent #block-views-covers-block .view-footer,
  section .sidebarContent #block-webform-client-block-96 .view-footer {
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    font-family: "Lato", sans-serif; }
    section .sidebarContent #block-views-covers-block .view-footer p,
    section .sidebarContent #block-webform-client-block-96 .view-footer p {
      font-size: 25px; }
section .sidebarContent #block-views-events-block {
  border-bottom: 4px solid dimgray; }
  section .sidebarContent #block-views-events-block h2 {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    color: dimgray;
    border-bottom: 1px solid dimgray;
    border-top: 4px solid dimgray; }
  section .sidebarContent #block-views-events-block .views-row {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #f1f1f1; }
    section .sidebarContent #block-views-events-block .views-row:hover {
      background-color: #fff; }
    section .sidebarContent #block-views-events-block .views-row .title {
      font-family: "Lato", sans-serif;
      color: #888;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 0; }
    section .sidebarContent #block-views-events-block .views-row .node {
      margin-bottom: 0;
      border: none; }
    section .sidebarContent #block-views-events-block .views-row .field-name-body, section .sidebarContent #block-views-events-block .views-row .readmore, section .sidebarContent #block-views-events-block .views-row img {
      display: none; }
  section .sidebarContent #block-views-events-block .view-footer a {
    font-weight: 700; }
    section .sidebarContent #block-views-events-block .view-footer a.submit {
      display: none; }
section .sidebarContent #block-webform-client-block-96 h2 {
  margin-top: 0; }
section .sidebarContent #block-block-6 .panel-heading {
  padding: 0;
  border-bottom: 0; }
  section .sidebarContent #block-block-6 .panel-heading .nav-tabs li {
    border: 0;
    font-size: 22px; }
    section .sidebarContent #block-block-6 .panel-heading .nav-tabs li a {
      color: #777777; }
    section .sidebarContent #block-block-6 .panel-heading .nav-tabs li.active.facebook {
      background: #3b5a9a; }
    section .sidebarContent #block-block-6 .panel-heading .nav-tabs li.active.twitter {
      background: #1aa9e1; }
    section .sidebarContent #block-block-6 .panel-heading .nav-tabs li.active.instagram {
      background: #7c4a3a; }
    section .sidebarContent #block-block-6 .panel-heading .nav-tabs li.active.pinterest {
      background: #cc2127; }
  section .sidebarContent #block-block-6 .panel-heading .nav-tabs > li.active > a,
  section .sidebarContent #block-block-6 .panel-heading .nav-tabs > li.active > a:hover,
  section .sidebarContent #block-block-6 .panel-heading .nav-tabs > li.active > a:focus {
    color: #ffffff;
    background-color: transparent;
    border: 0;
    font-size: 22px; }
section .sidebarContent #block-block-6 .panel-body {
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }
section .posrContent {
  border-top: 1px solid #efeff0; }
  section .posrContent #block-views-homepage-block-6,
  section .posrContent #block-block-7 {
    overflow: hidden;
    text-align: center; }
    section .posrContent #block-views-homepage-block-6 .views-row,
    section .posrContent #block-block-7 .views-row {
      clear: none !important; }
    section .posrContent #block-views-homepage-block-6 .node.teaser,
    section .posrContent #block-block-7 .node.teaser {
      border: none;
      position: relative; }
    section .posrContent #block-views-homepage-block-6 table.MYCcontentfeed27576,
    section .posrContent #block-block-7 table.MYCcontentfeed27576 {
      width: 100%; }
    section .posrContent #block-views-homepage-block-6 h2,
    section .posrContent #block-block-7 h2 {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 30px;
      padding: 10px 0;
      text-align: left;
      text-transform: uppercase;
      color: dimgray;
      border-bottom: 1px solid dimgray;
      border-top: 4px solid dimgray; }
    @media (max-width: 768px) {
      section .posrContent #block-views-homepage-block-6 table.MYCcontentfeed27576 td,
      section .posrContent #block-block-7 table.MYCcontentfeed27576 td {
        display: none; }
      section .posrContent #block-views-homepage-block-6 table.MYCcontentfeed27576 td:first-of-type,
      section .posrContent #block-block-7 table.MYCcontentfeed27576 td:first-of-type {
        display: block; }
        section .posrContent #block-views-homepage-block-6 table.MYCcontentfeed27576 td:first-of-type img,
        section .posrContent #block-block-7 table.MYCcontentfeed27576 td:first-of-type img {
          width: 380px; } }
    @media (min-width: 768px) {
      section .posrContent #block-views-homepage-block-6 img,
      section .posrContent #block-block-7 img {
        width: 192px;
        height: 130px; } }
    @media (min-width: 992px) {
      section .posrContent #block-views-homepage-block-6 img,
      section .posrContent #block-block-7 img {
        width: 192px;
        height: 130px; } }
    @media (min-width: 1200px) {
      section .posrContent #block-views-homepage-block-6 img,
      section .posrContent #block-block-7 img {
        width: 240px;
        height: 150px; } }
    @media (max-width: 992px) {
      section .posrContent #block-views-homepage-block-6 .views-row-4,
      section .posrContent #block-block-7 .views-row-4 {
        display: none; } }
    section .posrContent #block-views-homepage-block-6 div.bscene-branding,
    section .posrContent #block-block-7 div.bscene-branding {
      background-image: url("../images/bscene-watermark.png");
      height: 50px;
      width: 50px;
      background-size: cover;
      position: absolute;
      top: 10px;
      left: 28px; }
    section .posrContent #block-views-homepage-block-6 span,
    section .posrContent #block-block-7 span {
      font-size: 14px;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      color: #333;
      text-decoration: none; }
    section .posrContent #block-views-homepage-block-6 .MYCfeaturedescrip27576,
    section .posrContent #block-block-7 .MYCfeaturedescrip27576 {
      display: none; }
@media (min-width: 768px) {
  section .sidebarContent {
    border-left: 1px solid #efeff0; } }
section h1.page-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding: 10px 0;
  text-transform: uppercase;
  color: dimgray;
  border-bottom: 1px solid dimgray;
  border-top: 4px solid dimgray; }
section .view-homepage .views-field-body h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px; }
section .view-homepage .views-field-body h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  color: dimgray; }
section .view-homepage .views-field-body span a {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 16px; }
section .view-homepage .views-row {
  border-bottom: 1px solid #efeff0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  clear: both; }
  @media (min-width: 768px) {
    section .view-homepage .views-row .views-field-field-image {
      width: 400px;
      float: left;
      margin-right: 15px; } }
  @media (max-width: 1199px) {
    section .view-homepage .views-row .views-field-field-image {
      width: 300px; } }
  @media (max-width: 991px) {
    section .view-homepage .views-row .views-field-field-image {
      float: none;
      margin-right: 0;
      width: 100%; }
      section .view-homepage .views-row .views-field-field-image img {
        width: 100%; } }
section .view-homepage .attachment .views-row-first {
  border-bottom: 1px solid #efeff0;
  margin-bottom: 15px; }
  section .view-homepage .attachment .views-row-first .views-field-field-image {
    width: 100%; }
    section .view-homepage .attachment .views-row-first .views-field-field-image img {
      width: 100%; }
  section .view-homepage .attachment .views-row-first .views-field-body .field-content {
    position: relative;
    top: -40px; }
    section .view-homepage .attachment .views-row-first .views-field-body .field-content h3 {
      margin-top: 0;
      display: inline-block;
      background-color: white;
      font-size: 33px;
      padding: 10px 20px 5px 0px;
      z-index: 900;
      margin-bottom: 0; }
    section .view-homepage .attachment .views-row-first .views-field-body .field-content h4 {
      margin-top: 0; }
section .views-row .node {
  overflow: hidden;
  border-bottom: 1px solid rgba(177, 177, 177, 0.5);
  margin-bottom: 15px;
  clear: both; }
  section .views-row .node .media {
    margin-bottom: 15px; }
    section .views-row .node .media img {
      width: 100%; }
  section .views-row .node .teaser-content h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: "Lato", sans-serif; }
  section .views-row .node .teaser-content h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px;
    font-family: "Lato", sans-serif;
    color: dimgray; }
    section .views-row .node .teaser-content h4 .field-name-field-issue-month {
      float: left;
      margin-right: 5px; }
  section .views-row .node .teaser-content .readmore {
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0; }
  @media (min-width: 768px) {
    section .views-row .node .media {
      float: left;
      margin-right: 15px; }
      section .views-row .node .media img {
        width: 400px; } }
  @media (max-width: 1199px) {
    section .views-row .node .media img {
      width: 300px; } }
  @media (max-width: 991px) {
    section .views-row .node .media {
      float: none;
      margin-right: 0; }
      section .views-row .node .media img {
        width: 100%; } }
section .full-node .media img {
  width: 100%; }
section .full-node .social-sharing {
  margin: 5px 0;
  background: lightgray;
  height: 32px; }
  section .full-node .social-sharing .addthis_sharing_toolbox {
    position: relative;
    top: -2px;
    background: white;
    display: inline-flex;
    left: -2px;
    padding-right: 2px; }
section .full-node .node-content {
  margin: 20px 0; }
  section .full-node .node-content .byline {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    margin-bottom: 10px; }
    section .full-node .node-content .byline .field-item::before {
      content: "By "; }
  section .full-node .node-content div.field-item p:first-of-type {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: dimgray; }
section .full-node .taxonomy {
  color: dimgray;
  margin-top: -5px !important;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Lato", sans-serif; }
  section .full-node .taxonomy .section {
    text-align: left;
    margin-left: -15px; }
  section .full-node .taxonomy .issue {
    margin-right: -15px;
    text-align: right; }
    section .full-node .taxonomy .issue .field-name-field-issue-year {
      float: right;
      margin-left: 5px;
      position: relative;
      right: -30px; }
    section .full-node .taxonomy .issue .field-name-field-issue-month {
      position: relative;
      right: -30px; }
section .full-node .commenting h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  color: dimgray;
  border-bottom: 1px solid dimgray;
  border-top: 4px solid dimgray; }
section .view-id-covers.view-display-id-page .views-row {
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 0 30px; }
  @media (min-width: 992px) {
    section .view-id-covers.view-display-id-page .views-row {
      margin: 0 9px 25px;
      width: 30%; } }
  @media (min-width: 768px) and (max-width: 992px) {
    section .view-id-covers.view-display-id-page .views-row {
      margin: 0 0 25px;
      width: 50%; } }
  section .view-id-covers.view-display-id-page .views-row .views-field-field-issue-year {
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-transform: uppercase; }
  section .view-id-covers.view-display-id-page .views-row img {
    margin: 0 auto; }
section .pager .pager-current {
  display: none; }
section .pager .pager-previous {
  float: left; }
section .pager .pager-next {
  float: right; }

.page-list-style-gallery .view-display-id-page .views-row {
  width: 45%;
  float: left;
  margin: 0 8px 20px; }
  @media (min-width: 768px) and (max-width: 992px) {
    .page-list-style-gallery .view-display-id-page .views-row {
      margin: 0 10px 20px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .page-list-style-gallery .view-display-id-page .views-row {
      margin: 0 12px 20px; } }
  @media (min-width: 1200px) {
    .page-list-style-gallery .view-display-id-page .views-row {
      margin: 0 18px 20px; } }
  .page-list-style-gallery .view-display-id-page .views-row .title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    color: dimgray;
    border-top: 4px solid dimgray; }
  .page-list-style-gallery .view-display-id-page .views-row img {
    margin: 0 auto;
    border: 1px solid #888; }
  .page-list-style-gallery .view-display-id-page .views-row.views-row-odd {
    clear: both; }

.mmenu-nav.mm-basic {
  font-family: "Open Sans", sans-serif;
  background: #353535;
  color: #cccccc; }
  .mmenu-nav.mm-basic > .mm-list li {
    border-top: 1px solid #505050;
    border-bottom: 1px solid #3c3c3c; }
  .mmenu-nav.mm-basic .mm-list a:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .mmenu-nav.mm-basic .mm-subopen {
    padding: 0 32px; }
  .mmenu-nav.mm-basic > .mm-footer {
    background: #353535;
    color: #cccccc; }

.view-best-of .views-row {
  width: 45%;
  border: 2px solid dimgray;
  border-radius: 8px;
  margin: 10px 18px;
  float: right;
  overflow: hidden; }
  .view-best-of .views-row.views-row-odd {
    clear: both; }
  .view-best-of .views-row h1.page-title {
    margin: 0;
    color: #fff;
    background: #8ec138;
    padding: 10px;
    border-top: 0;
    font-size: 20px; }
  .view-best-of .views-row div.attachments {
    padding: 0 15px 10px;
    margin-top: -10px; }
  .view-best-of .views-row input#edit-write-in {
    width: 270px; }
  .view-best-of .views-row .poll-noresult {
    margin-top: 20px; }

/*# sourceMappingURL=echo.css.map */
